@font-face {
    font-family: 'BentonSans ExtraComp';
    src: url('BentonSansExtraComp-Black.woff2') format('woff2'),
        url('BentonSansExtraComp-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marvel';
    src: url('Marvel-Regular.woff2') format('woff2'),
        url('Marvel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

