.home {
  padding-block: 0;

  section {
    position: relative;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel-container {
    overflow: hidden;
    width: 100%;
  }
  .carousel {
    min-height: 350px;
    width: 100%;
    display: flex;
    gap: 1rem;

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  section::after {
    position: absolute;
    content: "";
    inset-inline: 0;
    inset-block: 90px 0;
    background: linear-gradient(to right, transparent 80%, hsl(var(--bg)));
    pointer-events: none;
  }

  .card.characters {
    flex: 1 0 250px;
  }
  .card.comic {
    flex: 1 0 200px;
  }
}

.home .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 700px;
  background:
    radial-gradient(hsla(var(--bg) / 0.95) 20%, hsl(var(--bg)) 70%),
    top/ cover url("../../assets/images/background.jpg") no-repeat;
  object-fit: cover;

  p {
    text-align: center;
    width: 400px;
  }

  .big-text {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font-display);
    color: hsl(var(--fg));
    text-wrap: balance;
    letter-spacing: 0.1em;
    margin-block-end: 30px;

    span {
      color: hsl(var(--primary));
    }
  }

  p:last-of-type {
    line-height: 1.5;
    margin-block-end: 50px;
  }

  .buttons {
    display: flex;
    gap: 1rem;
  }
}

/* .home .bottom::after {
  background: ;
} */
