/* ================================================================ */
/* ============================ CARDS ============================== */
/* ================================================================ */

.card {
  position: relative;
  overflow: hidden;
  flex: 1 0 250px;

  img {
    position: relative;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transform-origin: center;
    filter: brightness(0.3) saturate(0%);

    transition: all 0.8s;
  }
}

.card:hover {
  img {
    filter: brightness(0.7);
    transform: scale(1.1);
  }
}

.carousel .img-container {
  margin-block-end: 20px;
}
/* ================================================================ */
/* ============================ CHARACTER ============================== */
/* ================================================================ */

.character img {
  object-position: right top;
  transform-origin: right top;
}
.character:hover {
  img {
    filter: brightness(0.7);
  }
}

.pseudo::after {
  background: linear-gradient(to bottom, transparent 40%, hsl(var(--bg)) 90%);
  transition: background 1.3s ease;
}

.character {
  .card-text {
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    width: calc(100% - 1rem);
    z-index: 5;

    h3 {
      font-size: 1.5rem;
      color: hsl(var(--fg));
    }
  }
}
/* ================================================================ */
/* ============================ COMIC ============================== */
/* ================================================================ */

.comic:hover {
  img {
    filter: brightness(0.7);
  }
}

.comic .img-container {
  overflow: hidden;
}

.comic img {
  transition: all 0.3s;
}

.comic .card-text h3 {
  font-size: 0.875rem;
}
