/* ================================================================ */
/* ============================ GLOBALS ============================== */
/* ================================================================ */

body {
  font-family: var(--font-body);
}

.container {
  max-width: min(100% - 2rem, 1280px);
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 56px);
  padding-block: 80px;
}

a {
  color: hsl(var(--text));
}

.logo,
h1,
h2,
h3,
h4 {
  font-family: var(--heading);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: bold;
  color: hsl(var(--fg));
}

p,
h1,
h2,
h3,
h4 {
  max-width: 65ch;
}
* {
  transition: all 0.2s ease-in-out;
}

.btn {
  padding: var(--btn-padding);
  border-radius: var(--radius);
  font-weight: bold;
  font-family: var(--font-display);
  font-size: clamp(1.125rem, 1.547vw + 0.762rem, 2rem);
  color: hsl(var(--fg));
  text-align: center;
  line-height: 1;
}

.btn:hover {
  transform: translateY(-3px);
}

.btn-secondary {
  border: 1px solid hsl(var(--border));
}
.btn-secondary:hover {
  border: 1px solid hsla(var(--muted-foreground) / 0.5);
  background: hsl(var(--muted));
}

.btn-primary {
  background: linear-gradient(
    -150deg,
    hsl(var(--primary)),
    hsl(var(--primary))
  );
  border: 0;
  transform: translateY(0px);
}

.btn-primary:hover {
  background: linear-gradient(
    -150deg,
    hsl(var(--primary)),
    hsl(var(--destructive))
  );
  box-shadow: var(--shadow-glow-strong);
}

.pseudo::after {
  position: absolute;
  content: "";
  inset: 0;
}

.divider {
  margin-block: 100px;
  width: 100%;
  height: 3px;
  background: radial-gradient(
    hsla(var(--muted-foreground) / 0.5),
    transparent 50%
  );
}

/* ================================================================ */
/* ============================ HEADER ============================== */
/* ================================================================ */
header {
  position: relative;

  .navbar {
    position: absolute;
    top: 0;
    inset-inline: 0;
    background-color: hsla(var(--bg) / 0.7);
    backdrop-filter: blur(5px);
    z-index: 99;
    border-block-end: 1px solid var(--glass-border);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: inline-block;
    padding: 0.5em 0.5em 0.25em 0.5em;
    font-size: 1.875rem;
    color: hsl(var(--primary));
    letter-spacing: 0.1em;
    font-weight: 200;
  }

  .hero {
    position: relative;
    width: 100%;
    height: 70vh;
    margin-block-end: 150px;

    .video-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    video {
      width: 100%;
      height: 100%;
      filter: brightness(0.5) contrast(1.2);
      object-fit: cover;
      object-position: center;
    }

    .video-container::after {
      background: linear-gradient(
        to bottom,
        transparent 50%,
        hsl(var(--bg)) 100%
      );
    }
    .container {
      position: relative;
      top: 35%;
      left: 1rem;
    }

    .hero-container {
      flex-direction: column;
      align-items: start;
    }

    .top-text {
      padding: 0.5rem 1.25rem;
      border-radius: 50px;
      border: 1px solid hsla(var(--primary) / 0.25);
      background-color: hsla(var(--primary) / 0.15);
      font-family: var(--font-body);
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 0.25em;
    }

    h1 {
      color: white;
      font-family: var(--font-display);
      font-size: clamp(4rem, 9.503vw + -0.102rem, 7.5rem);
      margin-block: 1rem;
      line-height: 1;

      span {
        display: block;
        font-size: clamp(5.5rem, 10.608vw + 1.514rem, 10rem);
        color: hsl(var(--primary));
      }
    }
    .baseline {
      line-height: 1.75;
      max-width: 45ch;
      text-wrap: balance;
      margin-block-end: 2rem;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      margin-block-end: 2rem;
      text-wrap: nowrap;

      a {
        flex: 1;
      }
    }
  }

  .scroll {
    align-self: center;
    font-family: var(--font-body);
    font-size: 0.725rem;
    letter-spacing: 0.25em;
  }

  .scroll-indicator {
    content: "";
    display: block;
    position: absolute;
    bottom: -2.5rem;
    left: calc(50% - 2.5px);
    width: 5px;
    height: 30px;
    background: linear-gradient(
      180deg,
      hsla(var(--primary) / 0.7),
      hsla(var(--primary) / 0.1)
    );
    border-radius: 5px;
  }
}

/* ================================================================ */
/* ============================ HEADING ============================== */
/* ================================================================ */
.heading-container {
  padding-inline-start: 1rem;
  margin-block: 50px;

  .heading-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .heading {
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  a {
    padding: var(--padding);

    span {
      display: inline-block;
    }
  }

  a:hover {
    color: hsl(var(--primary));

    span {
      transform: translateX(5px);
    }
  }

  .cta-text {
    display: block;
    font-weight: 400;
    color: hsl(var(--primary));
    font-size: clamp(0.875rem, 0.884vw + 0.668rem, 1.375rem);
    margin-block-end: 20px;
    font-family: var(--font-body);
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }

  .heading-bottom {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    margin-block-start: 10px;
    background: linear-gradient(to right, hsl(var(--primary)), transparent 30%);
  }

  .baseline {
    margin-block-start: 40px;
    font-size: 1.125rem;
    line-height: 1.25;
  }
}

/* ================================================================ */
/* ============================ PAGINATION ============================== */
/* ================================================================ */

.rc-pagination {
  max-width: 100%;
  margin-block-start: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  li {
    flex: 0 1 auto;
  }
  li a {
    padding: 0.75em;
    border: 1px solid hsl(var(--muted-foreground));
    border-radius: 5px;
    color: hsl(var(--fg));
  }

  li a:hover,
  .rc-pagination-item-active a {
    border: 1px solid hsl(var(--primary));
  }

  .rc-pagination-prev,
  .rc-pagination-next,
  .rc-pagination-jump-next {
    cursor: pointer;
    padding: 0.5em;
    flex: 0 0 auto;
    scale: 1.5;
  }
  .rc-pagination-prev:hover,
  .rc-pagination-next:hover,
  .rc-pagination-jump-next:hover {
    color: hsl(var(--primary));
  }
}

/* ================================================================ */
/* ============================ FOOTER ============================== */
/* ================================================================ */

footer {
  border-block-start: 1px solid var(--glass-border);
  padding-block: 40px;
  font-size: 0.725rem;
  font-family: var(--font-body);

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  img {
    width: 100px;
    margin-inline-end: 1.5rem;
  }
  .logo > span {
    display: block;
    height: 30px;
    padding-inline: 1.5rem;
    border-inline-start: 1px solid var(--glass-border);
    line-height: 30px;
    letter-spacing: 0.25em;
    font-size: 1.5rem;
  }

  p {
    font-weight: 200;
    line-height: 1.25;
    text-align: center;

    a,
    span {
      font-weight: 400;
    }
  }
}

/* ================================================================ */
/* ============================ FAVOURITES ============================== */
/* ================================================================ */
.card button,
.thumbnail button {
  padding: 0;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;

  cursor: pointer;
}

.card button svg,
.thumbnail button svg {
  width: 50px;
  height: 50px;
  background-color: hsl(var(--muted-foreground));
  border-radius: var(--radius);
  padding: 0.5em;
  color: hsla(var(--bg) / 0.7);
}

.card button svg.fav,
.thumbnail button svg.fav {
  color: hsla(var(--primary) / 0.7);
}

@media (min-width: 590px) {
  header .hero h1 {
    margin-block: 2rem;
  }

  main.home {
    padding-block-start: 150px;
  }
}

/* ================================================================ */
/* ============================ ANIMATIONS ============================== */
/* ================================================================ */

.animate-marquee {
  animation: marquee 60s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
