/* ================================================================ */
/* ============================ GLOBALS ============================== */
/* ================================================================ */

body {
  font-family: var(--font-body);
}

nav a {
  color: var(--text);
  font-weight: 100;
}

.logo,
h1,
h1,
h3,
h4 {
  font-family: var(--font-display);
  font-family: var(--heading);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.container {
  max-width: min(100% - 2rem, 1240px);
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 56px);
}

/* ================================================================ */
/* ============================ HEADER ============================== */
/* ================================================================ */
header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: inline-block;
    padding: var(--padding);
    font-size: 1.75rem;
    color: var(--accent);
    letter-spacing: 0.1em;
  }
  ul {
    display: flex;
    gap: 10px;
  }

  ul a {
    padding: var(--padding);
    font-family: var(--font-display);
    font-weight: bold;
  }
}

/* ================================================================ */
/* ============================ FOOTER ============================== */
/* ================================================================ */

footer {
  font-size: 0.725rem;

  padding-block: 40px;
  .container {
    display: flex;
    align-items: center;
  }
  img {
    width: 150px;
  }
  span {
    margin-inline-start: 50px;
  }

  p {
    a,
    span {
      color: var(--text);
      font-weight: bold;
    }
  }
}
